body {
  background-image: url(./background.jpg);
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c7d5cb;
}

h1 {
  font-family: 'Luxurious Roman', cursive;
  font-size: 36px;
  color: #3d775b;
}

.App {
  background-color: rgba(200, 214, 203, 0.4);
  min-height: 90vh;
  width: 400px;
  margin: 20px auto;
}

.container {
  display: flex;
  justify-content: center;
}

ul,
li {
  text-align: center;
  list-style: none;
  padding: 8px;
  margin: 0;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Luxurious Roman', cursive;
  max-width: 300px;
  word-break: break-all;
}

input {
  flex: 1;
  padding: 10px;
  margin: 10px;
  font-family: 'Luxurious Roman', cursive;
  font-size: 14px;
  border: 1px solid #cac1ae;
  background-color: #f2f3ed;
}

.list {
  display: flex;
}

.btn {
  padding: 8px;
  width: 70%;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  color: #fff;
  text-shadow: 0.5px -0.5px 0.5px #000;
}

.delete {
  background-color: rgb(129, 170, 154);
  margin-top: 10px;
}

.add {
  background-color: #cac1ae;
  background-color: #F0A693;
  margin-top: 10px;
}

.dream {
  margin-top: 20px;
}